.bgr {
    .background {
        background-repeat: no-repeat;
        transition: all .7s;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .background:first-child {
        background-image: url("../img/bikeweb_03-Current-View.png");
        z-index: -9;
    }
    .bg__up { 
        transition: all 1.5s;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -11;

    .background:first-child {
        position:absolute;
        transform: translatey(-40%);
        background: black;
        z-index: -10;

        h4 {
            font-size: 30px;
            color: white;
        }

        h1 {
            font-size: 70px;
            font-family: Pilat_book;
            color: #51E8EF;
        }

        .background__text {
            position:absolute;
            position: absolute;
            top: 60%;
            left: 40%;

            h4 {
                font-family: Pilat_book;
                font-size: 30px;
                color: white;
            }

            h1 {
                margin: 20px 0 35px 0px;
                font-size: 70px;
                font-family: Pilat_book;
                color: #51E8EF;
            }

            .background__paragraph {
                line-height: 30px;
                width: 700px;
                display: flex;

                p {
                    line-height: 20px;
                    margin-right: 30px;
                    font-family: Pilat_light;
                    font-size: 10px;
                    color: #707070;
                }
            }
        }
    }
    .background:nth-child(2) {
        background-size: 60%;
        left: 15%;
        top: 90%;
        z-index: -11;
        background-image: url("../img/bikeweb_05-Current-View.png");

        .background__play {
            display: flex;
            justify-content: center;
            align-items: center;
            left: 25%;
            position: absolute;
            bottom: 45%;

            p {
                width: 280px;
                padding-top:10px;
                padding-left: 25px;
                font-size: 11px;
                font-family: Pilat_light;
                color: white;
            }

            .background__play__cover {
            cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                background: #51E8EF;
                border-radius: 50%;

                .background__play__core {
                    transition: all .5s;
                    width: 57px;
                    height: 57px;
                    background: black;
                    border-radius: 50%;

                }

                svg {
                    position: absolute;
                    padding-left: 4px;
                }
                &:hover .background__play__core {
                    fill: black;
                    width: 0;
                    height: 0;
                }
                &:hover  svg path {
                    fill: black;
                }
            }
        }

           

           
        }
    .background:nth-child(3) {
        
        transition: all 1s;
        background-image: url('../img/img_bike.png');
        position: absolute;
        top: 125%;
        left: 28%;
        background-size: 10%;
        background-repeat: no-repeat;
        background-position: center;
        h1 {
            
            transition: all 1.5s;
            color:#51E8EF;
            font-size: 200px;
            position: absolute;
            right: 39%;
            top: 10%;
        }
        svg:first-child {

            transition: all 1s;
            width: 203px;
            height: 200px;
            position: absolute;
            bottom: 55%;
            right: 41%;
        }
        svg:nth-child(2) {


            transition: all 1s;
            width:153px;
             height:151px;
            position: absolute;
            right: 50%;
            bottom: 34%;
        }
        .bg__textbox1 {
            position: absolute;
            top: 20%;
            left: 15%;
            width: 330px;
            h4 {
                font-family: Pilat_book;
                font-size: 30px;
                color: white;
            }
            p {
                line-height: 25px;
                font-family: Pilat_light;
                font-size: 15px;
                color: #707070;
            }
        }
        .bg__textbox2 {
            position: absolute;
            bottom: 25%;
            left: 15%;
            width: 330px;
            h6 {
                font-family: Pilat_book;
                font-size: 20px;
                color: white;
            }
            ul {
                li {
                    list-style: none;
                    line-height: 20px;
                    font-family: Pilat_light;
                    font-size: 12px;
                    color: #707070;
                }
                li:before {
                    content: '\2022 ';
                    /* Bullet color */
                    color:#51E8EF;
                    padding-right: 1em;
                }
            }
        }
    }
    }
}

.up {
    transform: translatey(-120%);

}
.svg__move {
    transform: translate(-143px, 160px);
    width:83px !important;
    height:80px !important;

}
.svg__move2 {



    width:113px !important;
    height:111px !important;
}
.rotate__h1 {
    transform: rotatey(360deg);
}
.bg__scale {
    background-size: 40% !important;
}
.bg__transfer {
    transform: translatex(-60%);
}

.bg3__transfer {
    transform: translatey(-60%);
}