@font-face {
    font-family: Pilat_black;
    src: url("../font/PilatWide-Black.ttf") format('woff');
}
@font-face {
    font-family: Pilat_bold;
    src: url("../font/PilatWide-Bold.ttf") format('woff');
}
@font-face {
    font-family: Pilat_book;
    src: url("../font/PilatWide-Book.ttf") format('woff');
}
@font-face {
    font-family: Pilat_demibold;
    src: url("../font/PilatWide-DemiBold.ttf") format('woff');
}
@font-face {
    font-family: Pilat_light;
    src: url("../font/PilatWide-Light.ttf") format('woff');
}